.modalHero{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-inputfield{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-inputfield > :active{
  background-color: transparent;
}

.modal-inputfield label {
  width: 200px;
}

.modal-inputfield input select {
  flex: 1;
}

.modal-inputfield > input, select {
  outline: none;
  background-color: transparent;
  padding: 5px;
  border: 1px solid rgb(122, 122, 122);
  color: rgb(53, 53, 53);
  width: 100%;
  
}

.modal-submit{
  display: flex;
  align-self: center;
  justify-self: center;
}

.modal-form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.modal-header{
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 10px;
  font-weight: 500;
  font-size: 25px;
}
